@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header,
footer, .text1, .gallery, .oblozka2__content, .gallery2, .footer {
  margin: 0 auto;
  max-width: 1280px;
  height: auto;
  padding: 0;
}

header {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header li {
  margin-right: 40px;
}

header .left-nav,
header .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .left-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right-nav {
  width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

header a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 21px;
  color: #1a1a1a;
}

.logo {
  margin-left: 30px;
}

.oblozka {
  display: block;
  background-image: url("/img/oblozka.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 600px;
  margin-bottom: 13px;
  min-width: 1436px;
}

.text1 {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-top: 500px;
}

.underlined {
  text-decoration: underline;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 1430px;
}

.gallery nav {
  margin: 27px auto;
}

.gallery nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery nav ul li {
  margin-left: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #1a1a1a;
}

.gallery nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #1a1a1a;
}

.gallery__katalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px);
      grid-template-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px);
  -ms-grid-rows: minmax(320px, 420px) minmax(320px, 420px);
      grid-template-rows: minmax(320px, 420px) minmax(320px, 420px);
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__katalog img {
  width: 300px;
}

.gallery .btn1 {
  background: #1A1A1A;
  border: 1px solid #1A1A1A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  margin: 100px auto;
}

.gallery .btn1 a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 56px;
  color: #F7F7F7;
  padding: 0 51px;
}

.gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-wrapper p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.gallery-wrapper .dop {
  color: #a8a8a8;
}

.gallery-wrapper .price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}

.gallery-wrapper .textp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 11px;
}

.oblozka2 {
  background-image: url("/img/oblozka2.png");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 100px;
  min-width: 1436px;
}

.gallery-wrapper:nth-child(9) {
  display: none;
}

.oblozka2__content {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery2-with-text {
  min-width: 1425px;
}

.text {
  color: #F7F7F7;
}

.text__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 54px;
  width: 360px;
}

.text__button {
  background: #7E6E45;
  border: 1px solid #7E6E45;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  color: #F7F7F7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  padding: 0 32px;
  margin-top: 13px;
  margin-bottom: 17px;
}

.text__dop {
  text-decoration: underline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.circle {
  margin-bottom: 30%;
}

.circle p {
  color: #EAE7D9;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  width: 59px;
  margin-top: -80px;
  margin-left: 20px;
  text-align: center;
}

.text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  margin-bottom: 92px;
}

.gallery2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 75px;
}

.gallery2 p {
  margin-top: 7px;
}

.adaptive-img {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 100px;
}

.footer li {
  margin-top: 14px;
}

.footlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footlogo p {
  text-align: right;
  width: 230px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 8px;
  margin-right: 25px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 350px;
  background-color: #e4e4e4;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: -10px;
  right: -35px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}

.modal__subtitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.modal__descr {
  text-align: center;
  font-size: 15px;
}

.modal_mini {
  min-height: 70px;
}

#consultation,
#thanks {
  display: none;
}

.feed-form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

input {
  border: none;
  height: 50px;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 0 20px;
  font-size: 14px;
}

input:nth-child(3) {
  margin-bottom: 35px;
}

@media (max-width: 1440px) {
  header {
    min-width: 1425px;
    padding: 0 1%;
  }
  .gallery__katalog {
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .gallery,
  .text1,
  .oblozka2__content,
  .footer {
    min-width: 1425px;
    padding: 0 1%;
  }
  .footer {
    padding-bottom: 100px;
  }
  .text1 {
    padding-top: 500px;
  }
  .gallery-wrapper:nth-child(9) {
    display: block;
  }
  .gallery__katalog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(250px, 350px) minmax(250px, 350px) minmax(250px, 350px);
        grid-template-columns: minmax(250px, 350px) minmax(250px, 350px) minmax(250px, 350px);
    -ms-grid-rows: minmax(370px, 470px) minmax(370px, 470px) minmax(370px, 470px);
        grid-template-rows: minmax(370px, 470px) minmax(370px, 470px) minmax(370px, 470px);
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__katalog img {
    width: 350px;
  }
  .gallery2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 370px 370px 370px;
        grid-template-columns: 370px 370px 370px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 24px;
    margin-right: -5px;
  }
  .gallery2 img {
    width: 370px;
  }
  .noadaptive-img {
    display: none;
  }
  .adaptive-img {
    display: block;
  }
}

@media (max-width: 900px) {
  header a,
  header p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #1a1a1a;
  }
  .gallery nav a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
  }
  .h1,
  .underlined,
  .text__dop {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .text__button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    padding: 0 32px;
    margin-top: 13px;
    margin-bottom: 17px;
  }
  .gallery__katalog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
        grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
    -ms-grid-rows: minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px);
        grid-template-rows: minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px);
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__katalog p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
  }
  .gallery__katalog .price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: black;
  }
  .gallery__katalog img {
    width: 400px;
  }
  .gallery2 {
    margin-right: 130px;
    -ms-grid-columns: 450px 450px 450px;
        grid-template-columns: 450px 450px 450px;
    color: black;
  }
  .gallery2 img {
    width: 450px;
  }
  .text1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
  }
  .footer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 100px;
    color: black;
  }
  .footer li {
    margin-top: 14px;
  }
  .footlogo p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: black;
  }
}

@media (max-width: 610px) {
  header {
    min-width: 1200px;
  }
  header a,
  header p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #1a1a1a;
  }
  header .right-nav p {
    margin-left: -15px;
    margin-right: 15px;
  }
  header .cart {
    width: 30px;
  }
  .oblozka,
  .oblozka2,
  .gallery2-with-text,
  .footer,
  .oblozka2__content,
  .gallery,
  .text1 {
    min-width: 1200px;
  }
  .gallery .btn1 a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    color: #F7F7F7;
    padding: 0 100px;
  }
  .gallery nav a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
  }
  .gallery__katalog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(250px, 450px) minmax(250px, 450px);
        grid-template-columns: minmax(250px, 450px) minmax(250px, 450px);
    -ms-grid-rows: minmax(470px, 570px) minmax(470px, 570px) minmax(470px, 570px) minmax(470px, 570px);
        grid-template-rows: minmax(470px, 570px) minmax(470px, 570px) minmax(470px, 570px) minmax(470px, 570px);
    gap: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
  }
  .gallery__katalog img {
    width: 440px;
  }
  .gallery__katalog p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
  }
  .footer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    padding-bottom: 100px;
    color: black;
  }
  .footer li {
    margin-top: 30px;
  }
  .footlogo p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: black;
  }
  .footlogo img {
    height: 150px;
  }
  .text__title {
    width: 500px;
    margin-bottom: 40px;
  }
  .text__button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
  }
  .text__title,
  .text2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
  .circle {
    display: none;
  }
  .gallery2 {
    margin-right: 70px;
    -ms-grid-columns: 600px;
        grid-template-columns: 600px;
    -ms-grid-rows: 800px 800px 800px;
        grid-template-rows: 800px 800px 800px;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery2 p {
    margin-top: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 18px;
  }
  .gallery2 img {
    width: 600px;
  }
  .gallery-wrapper:nth-child(9) {
    display: none;
  }
}

@media (max-width: 425px) {
  header .h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 18px;
  }
  .gallery__katalog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(200px, 400px) minmax(200px, 400px);
        grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
    -ms-grid-rows: minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px);
        grid-template-rows: minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px) minmax(420px, 520px);
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
  }
  .gallery__katalog p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
  }
  .gallery__katalog .price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: black;
  }
  .gallery__katalog img {
    width: 400px;
  }
  .h1,
  .underlined {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
  }
  .oblozka,
  .oblozka2,
  .gallery2-with-text,
  .footer,
  .oblozka2__content,
  .gallery,
  .text1,
  header {
    min-width: 1000px;
  }
}
